<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      lang="en"
      layout:decorate="~{decorate-layout}">
<head>
    <title>用户管理</title>

</head>
<body>
<div layout:fragment="content">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">搜索</h4>
            <form name="searchForm">
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" id="name">
                            <label>姓名</label>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" id="msisdn">
                            <label>手机号码</label>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" id="login-account">
                            <label>登录账号</label>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>

                </div>
            </form>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-primary" id="search">搜索</button>
                    <button type="button" class="btn btn-secondary" id="clear">清空</button>
                </div>

            </div>

        </div>

    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">用户列表</h4>

            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn--icon-text" data-toggle="modal" id="add"><i
                            class="zmdi zmdi-plus"></i> 添加
                    </button>
                </div>
            </div>

            <div class="table-responsive">
                <div id="data-table_wrapper" class="dataTables_wrapper">
                    <table id="data-table" class="table table-bordered dataTable" role="grid"
                           aria-describedby="data-table_info">
                        <thead class="thead-default">
                        <tr role="row">
                            <th>用户名</th>
                            <th>登录账号</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendors: Data tables -->
    <script src="../../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script src="../../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script src="../../static/js/buttons.print.min.js" th:src="@{/js/buttons.print.min.js}"></script>
    <script src="../../static/js/jszip.min.js" th:src="@{/js/jszip.min.js}"></script>
    <script src="../../static/js/buttons.html5.min.js" th:src="@{/js/buttons.html5.min.js}"></script>
    <script src="../../static/js/jsog.js" th:src="@{/js/jsog.js}"></script>

    <script>
        var dataTable;

        $(function () {

            /*<![CDATA[*/
            dataTable = $("#data-table").DataTable({

                ajax: {

                    data: function (d) {
                        return $.extend({}, d, {
                            'name': $('#name').val(),
                            'msisdn': $('#msisdn').val(),
                            'loginAccount': $('#login-account').val()
                        });
                    }
                },
                columns: [
                    {data: "name"},
                    {data: "loginAccount"},
                    {data: "createTime"},
                    {
                        render: function (data, type, row, meta) {
                            return '<button type="button" class="btn btn-link">查看</button>';
                        }
                    }
                ]
            });
            /*]]>*/
        });


        $(function () {
            $('#search').on('click', function () {
                dataTable.ajax.reload();
            });
            $('#clear').on('click', function () {

                document.searchForm.reset();
                notify('标题', '搜索表单已清空', 'top', 'right', 'fa fa-check', 'success', 'animated fadeInUp', 'animated fadeOutUp');
            });


            $('#add').on('click', function () {

                var index = layer.open({
                    type: 1,
                    title: '添加用户',
                    area: '600px',
                    shadeClose: true, //点击遮罩关闭
                    content:
                    '<div class="card-body">' +
                    '<form id="add-form">' +
                    ' <div class="row">' +
                    '<div class="col-sm-12">' +
                    '<div class="form-group form-group--float">' +
                    ' <input name="name" type="text" class="form-control" id="name">' +
                    '<label>姓名</label>' +
                    '<i class="form-group__bar"></i>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    ' <div class="row">' +
                    '<div class="col-sm-12">' +
                    '<div class="form-group form-group--float">' +
                    '<input name="msisdn" type="text" class="form-control" id="msisdn">' +
                    '<label>手机号码</label>' +
                    ' <i class="form-group__bar"></i>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    ' <div class="row">' +
                    '<div class="col-sm-12">' +
                    '<div class="form-group form-group--float">' +
                    '<input name="loginAccount" type="text" class="form-control" id="login-account">' +
                    '<label>登录账号</label>' +
                    '<i class="form-group__bar"></i>' +
                    '</div>' +
                    '</div>' +

                    '</div>' +
                    '<div class="row">' +
                    '<div class="col-sm-12 text-center">' +
                    '<button type="submit" class="btn btn-primary" id="submit" >确定</button>' +
                    '</div>' +
                    '</div>' +
                    '</form>' +
                    '</div>',
                    success: function () {
                        $('#add-form').submit(function (e) {
                            e.preventDefault();

                            $.ajax({
                                url: 'add',
                                type: 'POST',
                                contentType: 'application/json;charset=utf-8',
                                dataType: 'json',
                                data: JSON.stringify($(this).serializeObject()),
                                success: function (data) {
                                    dataTable.ajax.reload();
                                    layer.close(index);
                                }
                            });


                        })
                    }
                });
            });


        });

    </script>
</div>

</body>
</html>