<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      lang="en"
      layout:decorate="~{decorate-layout}">
<head>
    <title>用户管理</title>

</head>
<body>
<div layout:fragment="content">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">搜索</h4>
            <form name="searchForm">
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" id="name">
                            <label>姓名</label>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" id="msisdn">
                            <label>手机号码</label>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" id="name">
                            <label>登录账号</label>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>

                </div>
            </form>
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" id="search">搜索</button>
                    <button type="button" class="btn btn-secondary" id="clear">清空</button>
                </div>
                <div class="col-sm-5"></div>

            </div>

        </div>

    </div>


    <div class="modal fade" id="modal-default" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left">添加用户</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Input Default">
                        <i class="form-group__bar"></i>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Input Default">
                        <i class="form-group__bar"></i>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Input Default">
                        <i class="form-group__bar"></i>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link">保存</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h4 class="card-title">用户列表</h4>

            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn--icon-text" data-toggle="modal" data-target="#modal-default"><i
                            class="zmdi zmdi-plus"></i> 添加
                    </button>
                </div>
            </div>

            <div class="table-responsive">
                <div id="data-table_wrapper" class="dataTables_wrapper">
                    <table id="data-table" class="table table-bordered dataTable" role="grid"
                           aria-describedby="data-table_info">
                        <thead class="thead-default">
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Name: activate to sort column descending">Name
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1"
                                colspan="1" aria-label="Position: activate to sort column ascending">Position
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1"
                                colspan="1" aria-label="Office: activate to sort column ascending">Office
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1"
                                colspan="1" aria-label="Age: activate to sort column ascending">Age
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1"
                                aria-label="Start date: activate to sort column ascending">Start date
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1"
                                colspan="1" aria-label="Salary: activate to sort column ascending">Salary
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr role="row" class="odd">
                            <td class="sorting_1">Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>33</td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">Angelica Ramos</td>
                            <td>Chief Executive Officer (CEO)</td>
                            <td>London</td>
                            <td>47</td>
                            <td>2009/10/09</td>
                            <td>$1,200,000</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12</td>
                            <td>$86,000</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">Bradley Greer</td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td>41</td>
                            <td>2012/10/13</td>
                            <td>$132,000</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">Brenden Wagner</td>
                            <td>Software Engineer</td>
                            <td>San Francisco</td>
                            <td>28</td>
                            <td>2011/06/07</td>
                            <td>$206,850</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td>61</td>
                            <td>2012/12/02</td>
                            <td>$372,000</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">Bruno Nash</td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td>38</td>
                            <td>2011/05/03</td>
                            <td>$163,500</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">Caesar Vance</td>
                            <td>Pre-Sales Support</td>
                            <td>New York</td>
                            <td>21</td>
                            <td>2011/12/12</td>
                            <td>$106,450</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">Cara Stevens</td>
                            <td>Sales Assistant</td>
                            <td>New York</td>
                            <td>46</td>
                            <td>2011/12/06</td>
                            <td>$145,600</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                            <td>2012/03/29</td>
                            <td>$433,060</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">Charde Marshall</td>
                            <td>Regional Director</td>
                            <td>San Francisco</td>
                            <td>36</td>
                            <td>2008/10/16</td>
                            <td>$470,600</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">Colleen Hurst</td>
                            <td>Javascript Developer</td>
                            <td>San Francisco</td>
                            <td>39</td>
                            <td>2009/09/15</td>
                            <td>$205,500</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">Dai Rios</td>
                            <td>Personnel Lead</td>
                            <td>Edinburgh</td>
                            <td>35</td>
                            <td>2012/09/26</td>
                            <td>$217,500</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">Donna Snider</td>
                            <td>Customer Support</td>
                            <td>New York</td>
                            <td>27</td>
                            <td>2011/01/25</td>
                            <td>$112,000</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">Doris Wilder</td>
                            <td>Sales Assistant</td>
                            <td>Sidney</td>
                            <td>23</td>
                            <td>2010/09/20</td>
                            <td>$85,600</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendors: Data tables -->
    <script src="../../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script src="../../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script src="../../static/js/buttons.print.min.js" th:src="@{/js/buttons.print.min.js}"></script>
    <script src="../../static/js/jszip.min.js" th:src="@{/js/jszip.min.js}"></script>
    <script src="../../static/js/buttons.html5.min.js" th:src="@{/js/buttons.html5.min.js}"></script>

    <script>
        var dataTable;

        $(function () {

            /*<![CDATA[*/
            dataTable = $("#data-table").DataTable({

                ajax: {
                    url: 'data',
                    type: 'post',
                    data: function (d) {
                        return $.extend({}, d, {
                            name: $('#name').val(),
                            name: $('#name').val(),
                            msisdn: $('#msisdn').val()

                        });

                    }
                }
            });
            /*]]>*/
        });


        $(function () {
            $('#search').on('click', function () {
                dataTable.ajax.reload();
            });
            $('#clear').on('click', function () {

                document.searchForm.reset();
                notify('标题', '搜索表单已清空', 'top', 'right', 'fa fa-check', 'success', 'animated fadeInUp', 'animated fadeOutUp');
            });
        });

    </script>
</div>

</body>
</html>