<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{decorate-layout}">
<head>
    <title>后台管理</title>
    <link type="text/css" rel="stylesheet" href="../static/css/DataTables/jquery.dataTables.css?1423553989"
          th:href="@{/css/DataTables/jquery.dataTables.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/DataTables/extensions/dataTables.colVis.css?1423553990"
          th:href="@{/css/DataTables/extensions/dataTables.colVis.css}"/>
    <link type="text/css" rel="stylesheet"
          href="../static/css/DataTables/extensions/dataTables.tableTools.css?1423553990"
          th:href="@{/css/DataTables/extensions/dataTables.tableTools.css}"/>

</head>
<body>
<div layout:fragment="content">

</div>
</body>
</html>